.fn-post.hero-unit
  %input{ type: 'hidden', class: 'fn-id', value: "#{post.id}"}
  %h3
    %a.fn-show-post {{ title }}
  %p= {{ content }}
  
  By:
  %a{ href: "/authors/#{post.author_id}" }= {{ author.username }}
  {{ #signedIn }}
    = link_to "Delete post", post_path(post.id), method: 'delete'
    |
    %span.fn-like-link
      - if current_user.likes.where(post_id: post.id).shift.nil?
        %a.fn-like Like
      - else
        %a.fn-unlike Unlike
    %br
    .fn-like-message
      = post.pretty_print_likes.html_safe
