!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if user_signed_in?
      %input.fn-current-user{ type: 'hidden', value: "#{current_user.to_json }" }
    - else
      %input.fn-current-user{ type: 'hidden', value: "#{{message: 'Not signed in...'}.to_json}" }

    = render 'layouts/menu'
    = render 'layouts/flash_messages'
    .container
      = yield
