<!DOCTYPE html>
<html>
<head>
  <title>TrainessExam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, value| %>
  <%= content_tag :div, value, :class => "flash alert alert-#{key}" unless value.blank? %>
  <% end %>

  <p> <%= user_signed_in? ? 
  "Hello! #{current_user.email}" : 
  "You're not logged in <a href='/users/sign_in'>Sign in here</a>".html_safe  %> </p>

<div class='container'>
<%= yield %>
</div>

</body>
</html>
